/*@import url("http://yui.yahooapis.com/3.0.0/build/cssreset/reset-min.css");*/

body {
    background-color:#87B37E;
}

#container {
    width: 75%;
    background-color: #39672F;
    margin: auto;
    padding: 0;
    text-align: left;
}

#header {
    background-color: #18430F;
    color: #FFFFFF;
    text-align: left;
    padding: 0;
    overflow: hidden;
}

#andNow {
    text-align: left;
    margin-left: 1em;
    font-size: 14pt;
    font-style: italic;
    color: #77B36A;
}

#dcmbTitle {
    text-align: center;
    font-size: 25pt;
    font-family: sans-serif;
}

#navbar {
    float: left;
    width: 12em;
    font-weight: bold;
}

#navbar ul {
    margin: 1em;
    margin-right:0;
    padding: 0;
    list-style-type: none;
    font-family: sans-serif;
}

#navbar a {
    display: block;
    padding: 3px 3px 5px 30px;
    background-color: #334D2E;
    color: #87B37E;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: .5em;
}

#navbar a:hover {
    background-color: #87B37E;
    color: #334D2E;
}

#content {
    background-color: #FFFFFF;
    padding: 10px 20px 0 1em;
    margin: 1em;
    margin-left: 13em;
    /*margin-right: 0;*/
}
    
#content p {
    margin: 1em;
    font-family: sans-serif;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    text-align: center;
    color: #18430F;
    font-family:serif;
    font-size: 2em;
}

h2 {
    margin-left: 2em;
    color: #18430F;
}

h3 {
    color: #18430F;
    margin-left: 2em;
    clear:left;
}

.floatRight {
    float:right;
    margin: 1em;
}

.floatLeft {
    float:left;
    margin: 0;
    padding: 0;
}

#footer p {
    margin: 0;
    padding: 10px 0;
    background-color: #18430F;
    text-align: center;
    font-size: .8em;
}

.clearfloat {
    clear: both;
    height: 0;
    font-size: 1px;
}